*.DS_Store
*.swp
PatternPaint/bin/*
PatternPaint/build/*
PatternPaint/tmp/*
PatternPaint/Makefile*
Blinkinlabs32u4_boards/*
Blinkytile/*
Blinkypendant/*
PatternPaintWindows/*
build-*
PatternPaint/*.user
TempWindowsBuild/*
