# Linux instructions from: https://forum.qt.io/topic/50340/installing-qt-5-4-dev-packages-in-travis-ci/16
# TODO: Add support for macOS builds

sudo: required
dist: trusty

before_install:
  - sudo add-apt-repository --yes ppa:beineri/opt-qt57-trusty
  - sudo apt-get update -qq

install:
#  - sudo apt-get -y install qt57[QTPACKAGE] qt57serialport libusb-1.0-0-dev icnsutils
  - sudo apt-get -y install qt57qbs qt57serialport libusb-1.0-0-dev icnsutils

script:
#  - source /opt/qt55/bin/qt55-env.sh
  - source /opt/qt57/bin/qt57-env.sh
  - cd PatternPaint
  - qmake -config release
  - make -j7
  - icns2png images/patternpaint.icns -x
  - cp patternpaint_256x256x32.png patternpaint.png
  - cd ..
  - find PatternPaint/
  - wget -c https://github.com/probonopd/linuxdeployqt/releases/download/1/linuxdeployqt-1-x86_64.AppImage -O linuxdeployqt
  - chmod a+x linuxdeployqt
  - unset LD_LIBRARY_PATH # Remove too old Qt from the search path; TODO: Move inside the linuxdeployqt AppImage
  - ./linuxdeployqt PatternPaint/PatternPaint -qmldir=PatternPaint/ -bundle-non-qt-libs || true # Bug that exits with 1
  - ./linuxdeployqt PatternPaint/PatternPaint -qmldir=PatternPaint/ -appimage || true # Bug that exits with 1
  - curl --upload-file ./*.AppImage https://transfer.sh/PatternPaint-git$(git describe --tags --always)-x86_64.AppImage
